body {
    background-color: white;
    transition: all 0.2s;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(255, 255, 255, 0.1);
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}
.baner {
    height: 250px;
    background-image: url(lopta.jpg);
    width: 90%;
    height: 20%;
    border-radius: 15px;
    background-repeat: repeat-x;
}
.baner p {
    margin-top: 15%;
    margin-left: 5%;
    color: white;
}
h1 {
    font-size: 40px;
    margin-left: 35%;
}
.crveno {
    color: red;
}
.bijelo {
    color: white;
}
.plavo {
    color: blue;
}
.govor {
    border-radius: 10px;
    background-color: rgba(200,200,200,0.7);
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
    text-indent: 10px;
    word-spacing: 8px;
    line-height: 25px;
    text-align: center;
    transition: all 1s;
}
.govor:hover {
    width: 80%;
}
.govor_dark {
    background-color: rgb(10,10,10,0.2);
}
img {
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 10px;
}
.theme_button {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    white-space: normal;
    padding: 10px;
}
.theme_button:hover {
    background-color: black;
    color: white;
}
.theme-dark {
    background-color: black;
    color: white;
}
.container-dark {
    opacity: 0;
}
@media all and (max-width:600px) {
    img {
        width: 90%;
    }
}
@media all and (max-width:900px) {
    .theme_button {
        right: 5%;
        padding: 5px;
    }
}
@media all and (max-width:550px) {
    .theme_button {
        right: 2.5%;
    }
}
@media all and (max-width:400px) {
    h1 {
        margin-left: 5%;
    }
    .container {
        width: 60%;
    }
}